<h1>Welcome to PairBnb</h1>

<% @listing.each_with_index do | t, index| %>
<%= link_to t do %>
<%= "#{index+1}. #{t.listing_name}" %>
<br>
<% end %>

<% end %>
<br>
<%= link_to "Post a new listings!", new_listing_path %>

